body {
  margin: 0;
  padding: 0;
  background-color: rgb(195, 241, 221)
}


 /* Grid styling for horizontal display */
 .user-container {
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Auto adjust columns */
  gap: 20px;
}

.user-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
} 

.user-card p {
  margin: 5px 0;
  color: #023c25;
}

.check_Log {
  background-color: #429bed;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container {
  margin: 20px 0;
  text-align: center;
}

#searchInput {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

#searchButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #0056b3;
}