<%- include('partials/head') %>
</head>

<body>
  <div class="login-container">
    <div class="login-box">
      <h1>log in</h1>
      <form id="loginForm" action="/login" method="POST">
        
        <div class="input-group">
          <input type="email" name="email" id="email" placeholder="Email or phone" required />
        </div>
        <div class="input-group">
          <input type="password" name="password" id="password" placeholder="Password" required />
        </div>

        <button type="submit" class="btn">Next</button>
        <div>
          <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p>
          <% } %>
        </div>
      </form>
      <div class="options">
        <a href="/forgot-password">Forgot password?</a>
        <a href="/signup">Create account</a>
      </div>
    </div>
  </div>
</body>

</html>