<header>
  <h1>
    MEDICATION REMINDER APP
  </h1>
<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/admin/admin_dashboard" class="nav-link">
        <i class="fa fa-home nav-icon"></i>
        <span class="nav-text">Home</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a href="/admin/all_User" class="nav-link">
        <i class="fa fa-list nav-icon"></i>
        <span class="nav-text">All Users</span>
      </a>
    </li>
    
    <li class="nav-item">
      <form action="/api/logout" method="POST" style="display: inline;">
        <button id="btn-logout" type="submit" class="nav-link">
          <i class="fa fa-sign-out-alt nav-icon"></i>
          <span class="nav-text">Logout</span>
        </button>
      </form>
    </li>
  </ul>
</nav>
</header>

