<header>
  <h1>
    MEDICATION REMINDER APP
  </h1>
<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/user/profile" class="nav-link">
        <i class="fa fa-user nav-icon"></i>
        <span class="nav-text">Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/user/add-medicine?userId=<%= userId%>" class="nav-link">
        <i class="fa fa-plus-circle nav-icon"></i>
        <span class="nav-text">Add Medicine</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a href="/user/all-medicines" class="nav-link">
        <i class="fa fa-list nav-icon"></i>
        <span class="nav-text">All Medicines</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/user/edit-medicine" class="nav-link">
        <i class="fa fa-edit nav-icon"></i>
        <span class="nav-text">Edit Medicine</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/logout" class="nav-link">
        <i class="fa fa-sign-out-alt nav-icon"></i>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
</header>

