<header>
  <div id="header">Medication Reminder App</div>

  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#profile" class="nav-link">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#add-medicine" class="nav-link">
          <i class="fas fa-plus-circle"></i>
          <span>Add Medicine</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#all-medicine" class="nav-link">
          <i class="fas fa-list"></i>
          <span>All Medicine</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#edit-medicine" class="nav-link">
          <i class="fas fa-edit"></i>
          <span>Edit Medicine</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="logout"  href="#logout" class="nav-link">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
