<%- include('layouts/head') %>
</head>

<body>
  <div class="login-container">
    <div class="login-box">
      <span class="material-symbols-outlined">
      </span>
      <h1>Sign Up</h1>
      <form action="/signup" method="POST">

        <div class="userRole">
          <label id="rolelable">select app role : </label>
          <select name="role" id="role" required >
            <option value="user">User</option>
            <option value="host">Admin</option>
          </select>
        </div>

        <div class="input-group">
          <input type="text" name="userName" id="userName" placeholder="Enter your name" required>
        </div>
        <div class="input-group">
          <input type="text" name="number" id="number" placeholder="phone number" required>
      </div>
        <div class="input-group">
          <input type="email" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="input-group">
          <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="input-group">
          <input type="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="confirmPassword" required>
        </div>

        <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
          <p class="error-message"><%= errorMessage %></p>
        <% } %>

        <button type="submit" class="btn">create account</button>

      </form>
    </div>
  </div>
</body>

</html>